/* Custom properties: */
:root {
    --primary-color: #333;
    --hover-color:  #ff6347;  /* tomato color */
    --text-color: white;
    --spacing: 15px;
  }


.user-list-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    position: relative; 
  }
  
  .user-input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px; /* Ancho del campo de entrada */
  }

  .users-list {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos salten a la siguiente fila si no hay más espacio */
    gap: 10px; /* Añade un espacio entre los elementos */
  }
  
  .user-item {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: larger;
    padding: 5px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
  }
  
  .user-name {
    margin-right: 5px; /* Margen derecho opcional si necesitas más espacio */
  }

  .remove-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color); 
    color: var(--text-color);
    cursor: pointer;
    box-shadow: 2px 2px 0 0 #000;
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .remove-button:hover {
    color: var(--hover-color); 
    box-shadow: 1px 1px 0 0 #000;
    transform: translate(2px, 2px);
  }
  

  .footer-container {
    display: flex;
    justify-content: space-between; /* Distribuye el texto y el botón */
    align-items: center; /* Alinea verticalmente los elementos */
    margin-top: 20px;
  }

  /* Para el boton de combinaciones: */
  .generate-button, .add-button {
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid #18181d;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 3px 0 0 #000;
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .generate-button:hover, .add-button:hover {
    color: rgba(255, 255, 255, 0.7);
    box-shadow: 1px 1px 0 0 #000;
    transform: translate(2px, 2px);
  }
  
  .pairs-list {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos salten a la siguiente fila si no hay más espacio */
    gap: 10px; /* Añade un espacio entre los elementos */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    max-height: 200px; /* Limita la altura para evitar que se expanda mucho */
    overflow-y: auto; /* Añade scroll si hay muchas combinaciones */
    list-style: none; /* Eliminar puntos o viñetas */
  }
  
  .pair-item {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size:small;
  }
  

